section{
background-color: azure;
width: 450px;
height: 400px;
border-color:blue ;
border-radius: 5px;
padding: 10px;
margin: 0 auto;
padding-left: 100px;
line-height: 30px;

}

label{
    
    color: blue;
    font-weight: 300px;
    
}

input{
    width: 300px;
    line-height: 20px;
    margin-top: 2opx;
    
}

.submit{
    margin-top: 60px;
    width: 70px;
    display: block;
    background-color: green;
    color: white;
    font-weight: bolder;
   margin-left: 50%;
}

p{
    margin-left: -20px;
    font-size: 20px;
    color: yellowgreen;
    font-weight: bolder;
}